@using ProjectDaw.Models

@model Product
@{
    ViewBag.Title = "Afisare lista produse";
}

<h2>@ViewBag.Title</h2>

<hr />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            @Html.TextBox("searching")<input type="submit" value="Search" />
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-9">
        @using (Html.BeginForm("Index", "Product", FormMethod.Get, new { id = "Form1" }))
        {
            <div class="col-md-3">
                <b>Sort by:</b>
                @Html.RadioButton("sortBy", "Price") Price
                @Html.RadioButton("sortBy", "Rating") Rating
            </div>
            <div class="col-md-2">
                @Html.DropDownList("sort", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="Ascending", Value = "1" },
                    new SelectListItem{ Text="Descending", Value = "2" }
                 }, "-- Order By --")
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Filter" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@foreach (ProjectDaw.Models.Product product in ViewBag.Products)
{
    <div class="panel panel-article">
        @Html.Partial("ProductInfo", product)
        <div class="panel-footer product-panel-footer around">
            <a class="btn btn-sm btn-success full-width"
               href="/Product/Show/@product.ProductId">Afisare produs</a>
        </div>
    </div>
    <br />
}

