@model ProjectDaw.Models.Product
<div class="panel-heading product-heading">
    <span class="font-roboto product-title">@Model.Title</span>
</div>
<div class="panel-body">
    <div>
        <img src="/Images/@Model.ImagePath" alt="image" width="30%">
    </div>
    <span class="product-content-title">Descriere produs</span>
    <br />
    <div class="product-content-wrapper">
        @Model.Description
    </div>
    <div>
        @Model.Price
    </div>
    <div>
        @Model.Rating
    </div>
    <div>
        @Model.Review
    </div>
</div>
<div class="article-meta">
    <div>
        <i class="glyphicon glyphicon-bookmark"></i>
        @Model.Category.CategoryName
    </div>
</div>
